<h2>About</h2>
<br />
<h2>Why myScrumboard.net?</h2>
Well I felt like there was a dire need for a good and simple online scrumboard collaboration tool, after some pushing of my girlfriend i decided to make it.
<br /><br />
<h2>It's great! Could I help with anything?</h2>
Thanks :), sure you could, having a website costs money if you'd really like to help you could donate through the donate button.
<br /><br />
<h2>I have a suggestion</h2>
Great! Shoot me an e-mail at <a href="mailto:nicky@elepher.com">nicky@elepher.com</a> and i'll see if i can/will implement it. Note this is beta software and some features are already on my list.