<h2>Contact</h2>
You may:
<ol>
<li><a href="mailto:nicky@elepher.com">Contact me by e-mail</a></li>
<li><a href="http://twitter.com/nickyheuperman">Follow me on twitter</a></li>
<li><a href="http://www.facebook.com/profile.php?id=100001924328338">Post on my Wall</a></li>
</ol>